* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4fbff;
  color: #222;
}

header {
  min-height: 100vh;
  background: linear-gradient(135deg, #0077b6, #48cae4);
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 150px 20px;
}

.hero h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  line-height: 1.7;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 30px;
  background: white;
  color: #0077b6;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.features {
  padding: 60px 8%;
  text-align: center;
}

.features h1 {
  color: #0077b6;
  margin-bottom: 10px;
}

.subtitle {
  color: #555;
  margin-bottom: 35px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 28px;
  border-radius: 18px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h2 {
  color: #0096c7;
  margin-bottom: 15px;
  font-size: 21px;
}

.card p {
  color: #444;
  line-height: 1.6;
}

footer {
  background: #023e8a;
  color: white;
  text-align: center;
  padding: 18px;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 15px;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }
}